header {
  background-color: #e8e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #151515;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body h2 {
  font-weight: bold;
  filter: blur(1.25px);
  margin-top: 0;
}

body h4 {
  font-weight: lighter;
  margin-bottom: 0;
}

body h6 {
  font-weight: lighter;
  text-align: center;
  margin-top: 1em;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  align-items: center;
}

.start,
.next {
  background-color: #e8e0e0;
  color: #151515;
  height: 43px;
  width: 150px;
  margin: 0 0.25em;
  border-radius: 6.25rem;
  border: 4px solid #151515;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.start:hover,
.favourite:hover,
.next:hover {
  background-color: #666666;
  cursor: pointer;
  color: #e8e0e0;
}

.favourite {
  height: 24px;
  border-radius: 6.25rem;
  border: 4px solid #151515;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: bolder;
  margin: 0 0.25em;
  padding: 0.25em;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #151515;
  background-color: #e8e0e0;
}

.footer p {
  text-align: center;
  font-size: small;
  font-weight: lighter;
  margin-top: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.Questions {
  position: relative;
  bottom: 6.5em;
}

#height,
#width {
  background-color: #d9d9d9;
  border: none;
  border-bottom: #151515 2px solid;
}